*.hi
*.o
*~
.hpc/*
Setup
Setup.exe*
TAGS
autom4te.cache/*
config.log
config.mk
config.status
dist/*
dist-newstyle/*
include/HsNetworkConfig.h
network.buildinfo
cabal.sandbox.config
.cabal-sandbox
.stack-work/
.ghc.*
.vscode
/stack.yaml.lock
